In [1]:
# üëâ Strings in Python
# üëâ String Formatting
# üëâ Escape sequence
#################################################

In [2]:
print('Hello world')

Hello world

In [3]:
print("C:\logs")

C:\logs

In [6]:
#  print("C:\Users\Public\Libraries") #unicode error

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3481437949.py, line 1)

In [7]:
# ESCAPE SEQUENCE


# Escape Character Meaning
# \‚Äù                Double quote
# \‚Äô                Single quote
# \\                backslash
# \n                New line
# \r                Carriage Return
# \t                Horizontal tab
# \b                Backspace
# \f                form feed
# \v                vertical tab
# \0                Null character
# \N{name}          Unicode Character Database named Lookup
# \uxxxxxxxx        Unicode Character with 16-bit hex value XXXX
# \Uxxxxxxxx        Unicode Character with 32-bit hex value XXXXXXXX
# \ooo              Character with octal value OOO
# \xhh              Character with hex value HH


print("C:\\Users\Public\Libraries")
print("C:\\Users\Public\Libraries\\tanmay")

C:\Users\Public\Libraries
C:\Users\Public\Libraries\tanmay

In [9]:
# using escape Character \

print("C:\\Users\Public\Libraries")
print("C:\\Users\Public\Libraries\\tanmay")
print("C:\\fruit\category\Manglina")

C:\Users\Public\Libraries
C:\Users\Public\Libraries\tanmay
C:\fruit\category\Manglina

In [11]:
# using r-string i.e raw string

print(r"C:\\Users\Public\Libraries")
print(r"C:\\Users\Public\Libraries\\tanmay")
print(R"C:\\fruit\category\\Manglina")

C:\\Users\Public\Libraries
C:\\Users\Public\Libraries\\tanmay
C:\\fruit\category\\Manglina

In [15]:
# use of escape SEQUENCE

# 1.\

str1 = '"Hello! I\'m Arjun from India"'
print(str1)

"Hello! I'm Arjun from India"

In [18]:
# 2.\n : new line

str2 = "Hello! I'm Arjun \nfrom India"
print(str2)

str3 = "Arjun,\nKomal , \nRavina,\nSonal"
print(str3)

Hello! I'm Arjun
from India
Arjun,
Komal ,
Ravina,
Sonal

In [19]:
# 3.\t : for space

Quote = "Success \tis the \tcollection of Number of \thardworks"
print(Quote)

Success 	is the 	collection of Number of 	hardworks

In [24]:
# 4.\b : BackSpace: last chaacter of sentence is replace new character.

Quote1 = "Success is the collection of Number of hardwor\bks"
print(Quote1)

name = "Monalik\bsa"
print(name)

Success is the collection of Number of hardworks
Monaliksa

In [39]:
#string formatting

name = "Arjun"
place = "Nagpur"
skill =  "Python skills"

print("I am Arjun from Nagpur with python skills.")
print("I am name from place with python skills")
print("I am",name,"from",place,"with", skill)





print('I am {} from {} with {}'.format(name,place,skill))
print('I am {0} from {1} with {2}'.format(name,place,skill))
print('I am {2} from {0} with {1}'.format(name,place,skill))
print('I am {1} from {2} with {0}'.format(name,place,skill))

I am Arjun from Nagpur with python skills.
I am name from place with python skills
I am Arjun from Nagpur with Python skills
I am Arjun from Nagpur with Python skills
I am Arjun from Nagpur with Python skills
I am Python skills from Arjun with Nagpur
I am Nagpur from Python skills with Arjun

In [42]:
#  f string

# using f-string

# print("I am {name} from {place} with {skill} skill")
print(f"I am {name} from {place} with {skill} skill")

name1 = "Dipika"
place1 = "Nashik"
skill1 =  "JavaScript Developer"

print(f"I am {name1} from {place1} with {skill1}")

print(f"I am {skill1} from {name1} with {place1}")

I am Arjun from Nagpur with Python skills skill
I am Dipika from Nashik with JavaScript Developer
I am JavaScript Developer from Dipika with Nashik

In [47]:
# HomeWork

'''
A. use .format() to print below statement using the numerical values stored in variables

a = 100
b = 200
c = 300

The price of coke is 300 , spice is 100 and vcr is 200

Shyam has scored 300 in science , 200 in Physics and 300 in Maths


B. use f-string to print  below statement using the numerical values stored in above variables

The price of coke is 300 , spice is 100 and vcr is 200

Sameer has scored 300 in science , 200 in Physics and 300 in Maths

'''

# Program 1
CokePrice = 300
spicePrice = 100
vcrPrice = 200

print("The price of coke is {} , spice is {} and vcr is {}".format(CokePrice,spicePrice,vcrPrice))

# program2
SciScore = 300
phyScore = 200
mathScore = 300

print("Shyam has scored {} in science , {} in Physics and {} in Maths".format(SciScore,phyScore,mathScore))


# Using f string


# Program 3
CokePrice1 = 300
spicePrice1 = 200
vcrPrice1 = 200

print(f"The price of coke is {CokePrice1} , spice is {spicePrice1} and vcr is {vcrPrice1}")

# program4
SciScore1 = 300
phyScore1 = 200
mathScore1 = 100

print(f"Shyam has scored {SciScore1} in science , {phyScore1 } in Physics and {mathScore1 } in Maths")

The price of coke is 300 , spice is 100 and vcr is 200
Shyam has scored 300 in science , 200 in Physics and 300 in Maths
The price of coke is 300 , spice is 200 and vcr is 200
Shyam has scored 300 in science , 200 in Physics and 100 in Maths