In [1]:
# program 1
x = 20

In [2]:
print(x)

20

In [3]:
print(type(x))

<class 'int'>

In [5]:
# Program 2

class Student:
    def __init__(self , name ,age ,area):
        self.name = name
        self.age = age
        self.area = area
s2 = Student('Arjun',24,'Nashik')        
print(s2)
print(s2.name)
print(s2.age)
print(s2.area)

<__main__.Student object at 0x000002641C6FDDD0>
Arjun
24
Nashik

In [9]:
# Program 3

class Student : 
    def __init__(self):
        print('Ganapati Bappa')
        print('Morya')
        
s3 = Student()        
print(s3)

Ganapati Bappa
Morya
<__main__.Student object at 0x000002641C706950>

In [11]:
# Program 4

class Student : 
    def __init__():
        print('Ganapati Bappa')
        print('Morya')
        
s3 = Student()        
print(s3.greet())

TypeError: Student.__init__() takes 0 positional arguments but 1 was given

In [17]:
# Program 5

class Student():
#     def __init__(self,name):
#         self.name = name
        
    def __init__(self,age):
        self.age = age

        
s3 = Student('Ravina',26)        
# print(s3.name)
print(s3.age)

TypeError: Student.__init__() takes 2 positional arguments but 3 were given