In [1]:
def sum1(a,b,c):
    print(a+b+c)
sum1(2,3,4)

9

In [2]:
def sum2(a,b,c):
    print(a+b+c)
sum1(2.45,69.67,44.70)

116.82000000000001

In [4]:
class Employee:
    def __init__(self,name,E_id):
        self.name = name
        self.E_id = E_id
        
b1 =Employee('Ravina',102)
print(b1)
print(b1.name)
print(b1.E_id)

<__main__.Employee object at 0x000001FA1D76AD90>
Ravina
102

In [5]:
class Employee:
    def __init__(self,name,E_id):
        self.name = name
        self.E_id = E_id
        
    def __str__(self):
        return f"The Name of student is {self.name} and roll no is {self.E_id}"
        
b2 =Employee('Arjun',105)
print(b2)

The Name of student is Arjun and roll no is 105

In [6]:
b3 =Employee('Mahesh',106)
print(b3)

The Name of student is Mahesh and roll no is 106

In [7]:
b4 =Employee('Jayashree',107)
print(b4)

The Name of student is Jayashree and roll no is 107

In [14]:
class Employee:
    counter = 0 
    def __init__(self,name):
        self.name = name
        Employee.counter = Employee.counter+1
        self.E_id = Employee.counter
        
    def __str__(self):
        return f"The Name of student is {self.name} and roll no is {self.E_id}"
        
b7 =Employee('Bhagyashree')
print(b7)

The Name of student is Bhagyashree and roll no is 1

In [15]:
b8 =Employee('Bhagyashree jire')
print(b8)

The Name of student is Bhagyashree jire and roll no is 2

In [17]:
b7 =Employee('Sunanda')
print(b7)
print(b7.counter)

The Name of student is Sunanda and roll no is 4
4

In [19]:
b7.counter = 500

In [20]:
print(b7.counter)

500

In [21]:
b7 =Employee('Sunanda')
print(b7)
print(b7.counter)

The Name of student is Sunanda and roll no is 5
5

In [22]:
class Employee:
    counter = 0 
    def __init__(self,name):
        self.name = name
         Employee.counter = Employee.counter+1
        self.E_id = Employee.counter
        
    def __str__(self):
        return f"The Name of student is {self.name} and roll no is {self.E_id}"
        
b7 =Employee('Bhagyashree')
print(b7)

Employee.counter = 500
print(Employee.counter)

The Name of student is Bhagyashree and roll no is 1
500

In [26]:
class Employee:
    counter = 0 
    def __init__(self,name):
        self.name = name
        Employee.counter = Employee.counter+1
        self.E_id = Employee.counter
        
    def __str__(self):
        return f"The Name of student is {self.name} and roll no is {self.E_id}"
        
b7 =Employee('Bhakti')
print(b7)

Employee.counter = 500
print(Employee.counter)

The Name of student is Bhakti and roll no is 1
500

In [27]:
class Employee:
    counter = 0 
    def __init__(self,name):
        self.name = name
        Employee.counter = Employee.counter+1
        self.E_id = Employee.counter
        
    def __str__(self):
        return f"The Name of student is {self.name} and roll no is {self.E_id}"
        
b11 =Employee('Bhagyashree')
print(b11)

Employee.counter = 50
print(Employee.counter)

The Name of student is Bhagyashree and roll no is 1
50