In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
dff = pd.read_csv('gapminder_full.csv')

In [5]:
dff

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

###################   DataFrame   ###################

In [13]:
# table is called DataFrame in pandas, collection of rows and columns.

In [14]:
type(dff) # DataFrame.

pandas.core.frame.DataFrame

In [15]:
# check the various parameter

dff.ndim

2

In [16]:
dff.size

10224

In [17]:
dff.shape

(1704, 6)

In [20]:
dff.dtypes # {   object is considered as 'string' }

country        object
year            int64
population      int64
continent      object
life_exp      float64
gdp_cap       float64
dtype: object

#Series

In [23]:
#  A series is a building bloc in Pandas 
#  A DataFrame is a collection of Series
#  most of the method will work on both dataframes and series

In [24]:
dff[0] # this is not working in pandas.

KeyError: 0

In [26]:
zz = dff['country']

In [27]:
zz

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [28]:
type(zz) # DataFrame is the collection of series.

pandas.core.series.Series

In [29]:
dff['population']

0        8425333
1        9240934
2       10267083
3       11537966
4       13079460
          ...
1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: population, Length: 1704, dtype: int64

In [32]:
aa = dff['life_exp']

In [33]:
aa

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: life_exp, Length: 1704, dtype: float64

In [34]:
aa.ndim

1

In [35]:
aa.shape

(1704,)

In [36]:
aa.size

1704

In [38]:
aa.dtypes

dtype('float64')