In [1]:
def Num(num):
    if num%2 == 0 :
        print('Number is Even')
    else :
        print('Number is Odd')

In [2]:
Num(23)

Number is Odd

In [3]:
Num(24)

Number is Even

In [4]:
Num(0)

Number is Even

In [5]:
Num(67)

Number is Odd

In [6]:
# The map() function in Python is a built-in function that takes in two or more arguments: 
#     a function and one or more iterable objects (like lists, tuples, etc.). 
# It applies the given function to each item in the iterables and returns an iterator that yields the results
# The basic syntax of the map() function is as follows:
# map(function, iterable1, iterable2, ...)

In [7]:
# Map() function

In [9]:
list_num = [11,34,23,45,67,44,88,96,42,50]
def Operation(a):
    ans = []
    for i in a :
        ans.append(i*2)
    print(ans)
    
Operation(list_num)

[22, 68, 46, 90, 134, 88, 176, 192, 84, 100]

In [10]:
list_num2 = [10,344,53,45,87,46,87,66,992,1000]

def Operation2(b):
    box = []
    for i in b:
        box.append(i*4)
    print(box) 
Operation2(list_num2)

[40, 1376, 212, 180, 348, 184, 348, 264, 3968, 4000]

In [13]:
def Operation2(b):
    box = []
    for i in b:
        box.append(i*45)
    print(box) 
Operation2(list_num2)

[450, 15480, 2385, 2025, 3915, 2070, 3915, 2970, 44640, 45000]

In [21]:
# Lamda function 
list_num2 = [2,344,53,45,87,46,87,66,992,1000]

list(map(lambda x : x*2,list_num2))

[4, 688, 106, 90, 174, 92, 174, 132, 1984, 2000]

In [34]:
list(map(lambda g : g*16,list_num2))

[32, 5504, 848, 720, 1392, 736, 1392, 1056, 15872, 16000]

In [35]:
# filter()

In [38]:
list_Score = [11,22,45,65,76,32,56,43,54]
def even_Num(x):
    box1 = []
    for i in x :
        if(i%2 ==0):
            box1.append(i)
    print(box1)
even_Num(list_Score)

[22, 76, 32, 56, 54]

In [41]:
list_Score1 = [11,23,44,66,78,34,44,45,88]
def even_Num(arjun):
    box2 = []
    for i in arjun :
        if(i%2 ==0):
            box2.append(i)
    print(box2)
even_Num(list_Score1)

[44, 66, 78, 34, 44, 88]

In [42]:
# filter(function ,iterable)

In [46]:
def even_ans(c):
    if c%2 == 0 :
        return c

In [51]:
list_Score3 = [11,23,44,66,78,34,44,45,88]
filter(even_ans ,list_Score3)

In [52]:
list(filter(even_ans ,list_Score3))

[44, 66, 78, 34, 44, 88]